<label class="mode-control">
  <input type="checkbox" id="mode-btn">
  <span><i class="fas fa-moon"></i></span>
  <span><i class="fas fa-sun"></i></span>
</label>
<% if(locals.u1){%>
  <div class="notif" title="Notifications">
    <i class="far fa-bell" id="bell"></i>
    <div class="ncount"><%= (locals.ncount) ? ncount : '' %></div>

  </div>
  <div class="notifications">
    <img class="lazyload notifloading" data-src="/img/loading.gif" alt="loadinggif">
    <ul>
      <!-- markasread -->
      <%- (locals.ncount && ncount> 0 ) ? `<a href="javascript:void(0)" class="markasread"
          title="Mark all notifications as read"><i class="fas fa-book-open"></i>Mark all as read</a>`: '' %>
    </ul>
  </div>
  <a class="logout" href="/logout" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
  <div class="profile">
    <a href="/<%=u1 %>"><img class="lazyload" data-src="/img/profile1.jpg" alt="right profile"></a>
  </div>
  <% }else{ %>
    <a href="/login" title="Login">
      Login
    </a>
    <% }%>