<div class="report-div">
  <div class="cont">
    <div class="article">
      <h3>Bu gönderiyi raporlama sebebin ne?</h3>
      <div class="postid"></div>
      <button class="report-btn" data-report-number="1">
        Çıplaklık veya cinsel aktivite
      </button>
      <button class="report-btn" data-report-number="2">
        Nefret söylemi veya semboller
      </button>
      <button class="report-btn" data-report-number="3">
        Şiddet veya tehlikeli kuruluşlar
      </button>
      <button class="report-btn" data-report-number="4">
        Yasadışı veya yasal düzenlemelere tabi malların satışı
      </button>
      <button class="report-btn" data-report-number="5">
        Zorbalık veya taciz
      </button>
      <button class="report-btn" data-report-number="6">
        Fikri mülkiyet ihlali
      </button>
      <button class="report-btn" data-report-number="7">
        İntihar, kendine zarar verme veya yeme bozuklukları
      </button>
      <button class="report-btn" data-report-number="8">
        Dolandırıcılık veya aldatmaca
      </button>
      <button class="report-btn" data-report-number="9">
        Yanlış bilgi
      </button>
      <button class="report-btn" data-report-number="10">
        Sadece hoşuma gitmiyor
      </button>
    </div>
    <div class="report-close" title="Close">
      <i class="fas fa-times"></i>
    </div>
  </div>
</div>