<div class="sendpost">
  <div class="cont">
    <div class="msg"></div>
    <form action="" onsubmit="return false" enctype='application/json' id="postform">
      <input disabled name="media" type="file" placeholder="Tags (optional)">
      <input name="tags" type="text" placeholder="tags exp: html css asd qwe">
      <textarea name="article" id="article" cols="30" maxlength="300" rows="10"
        placeholder="Your ideas"></textarea>
      <div id="count">0/300</div>
      <button type="submit" id="postbtn" class="button button5">POST</button>
    </form>
  </div>
</div>