<div class="share-div">
  <div class="cont">
    <div class="article">
      <div class="social-medias">
        <span class="icon" title="Share on Facebook"><a target="_blank" class="facebook"><i class="fab fa-facebook fb"></i></a></span>
        <span class="icon" title="Share on Twitter"><a target="_blank" class="twitter"><i class="fab fa-twitter tw"></i></a></span>
        <span class="icon" title="Share on Whatsapp"><a target="_blank" class="whatsapp"><i class="fab fa-whatsapp wp"></i></a></span>
        <span class="icon" title="Share on LinkedIn"><a target="_blank" class="linkedin"><i class="fab fa-linkedin-in in"></i></a></span>
        <span class="icon" title="Share on Pinterest"><a target="_blank" class="pinterest"><i class="fab fa-pinterest-p pin"></i></a></span>
        <span class="icon" title="Share on Signal"><a target="_blank" class="signal"><img src="/img/signalTransparent.svg"
              alt="signal_logo"></a></span>
        <span class="icon"><a target="_blank" class="mail"><i class="far fa-envelope def"></i></a></span>
      </div>
      <div class="link-cont">
        <div class="link"></div>
        <div class="copy-btn" title="Copy to clipboard"><i class="far fa-clipboard"></i>Copy</div>

      </div>
    </div>
    <div class="share-close" title="Close">
      <i class="fas fa-times"></i>
    </div>
  </div>
</div>