<div class="share-div">
  <div class="cont">
    <div class="article">
      <div class="social-medias">
        <span class="icon"><i class="fab fa-facebook fb"></i></span>
        <span class="icon"><i class="fab fa-twitter tw"></i></span>
        <span class="icon"><i class="fab fa-instagram ig"></i></span>
        <span class="icon"><i class="fab fa-youtube yt"></i></span>
        <span class="icon"><i class="fab fa-reddit-alien r"></i></span>
        <span class="icon"><i class="fab fa-whatsapp wp"></i></span>
      </div>
      <div class="link-cont">
        <div class="link">http://example.com/..</div>
        <div class="copy-btn" title="Copy to clipboard">Copy</div>
        
      </div>
    </div>
    <div class="close">
      <i class="fas fa-times"></i>
    </div>
  </div>
</div>