<!DOCTYPE html>
<html lang="en">

<head>
    
  <%- include('inc/metatag.ejs') %>
    
    <title>404 NOT FOUND</title>
</head>

<body>
    <%- (locals.message) ? message : 'We could not find page that you were searched' %>
</body>

</html>