<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('inc/metatag.ejs') %>

        <title>Sign up</title>
        <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/random.css">
        <link rel="stylesheet" href="/css/popup.css">
</head>

<body>
    <div class="container ">
        <form class="login" onsubmit="return false" id="signupform">
            <h1>Sign up</h1>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email" name="email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="fullname" name="fullname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" name="username" autocomplete="username">
            </div>
            <div class="alts" style="margin-bottom: 10px;"></div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="userpass" name="userpass"
                    autocomplete="current-password">
            </div>
            <div class="form-group">
                You are already member? <a href="/login">Come here</a>
            </div>
            <button type="submit" class="btn btn-primary" id="signupbtn">Sign up</button>
        </form>
    </div>
    <div class="random" id="profile"></div>
    <%- include('inc/popup.ejs') %>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/html2canvas.min.js"></script>
        <script src="/js/fontawesome.js"></script>
        <script src="/js/popup.js"></script>
        <script src="/js/loginevents.js"></script>
</body>

</html>