$favwhite: #f0f0f0;
$white: #f1f1f1;
$black: #121212;
///////////////////////////// light //////////////////////////////////
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap");

@font-face {
  font-family: "georgia";
  src: url("../font/georgia.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box !important;
  list-style: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #f3f0e2;
  // background: #2f3852; //purple
  // background: #e0593d; //orange
  // background: #2d5d7c; //blue
  background: $favwhite; //white
  color: #222;
  transition: 500ms all;
}
.cont {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  margin: 0px;
  width: 100%;
  .headercont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    .logo img {
      margin-left: 10px;
      max-width: 120px;
      max-height: 120px;
      border-radius: 50%;
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
      margin-right: 15px;
    }
    .profile img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
    }
    .logout{
      display: block;
      font-size: 20px;
      color: #353535;
    }
    .notif {
      position: relative;
      padding: 5px;
      cursor: pointer;
      .notifications {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        min-width: 300px;
        max-width: 400px;
        max-height: 600px;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        background: #333;
        color: #f1f1f1;
        display: none;
        .arrow {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 20px solid #333;
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
        }
        ul {
          li {
            a {
              padding: 5px;
              color: #f1f1f1;
              text-decoration: none;
            }
          }
        }
        .notiftime {
          opacity: 0.8;
          font-size: 12px;
        }
      }
      .show_notif {
        opacity: 0.95;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .search {
    position: relative;
    #search {
      padding: 8px 12px;
      min-width: 300px;
      background: #3d3d3d;
      color: #f1f1f1;
      font-family: "Work Sans";
    }
    .searchbtn {
      padding: 5px;
      cursor: pointer;
      position: absolute !important;
      top: 0px;
      right: 7px;
    }
    i {
      color: #f1f1f1;
    }
  }
  .cright {
    background: #222;
    padding: 5px;
    max-width: 40px;
    min-width: 300px;
    max-width: 300px;
  }
  .center {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    flex-direction: row;
    .user {
      display: flex;
      align-items: center;
      flex-direction: row;
      img {
        min-width: 60px;
        max-width: 60px;
        border-radius: 50%;
        margin-right: 10px;
      }
      a {
        color: #121212;
        font-size: 17px;
        text-decoration: none;
      }
    }
    .centercont {
      min-width: 600px;
      max-width: 600px;
      .editcont{
        display: flex;
        flex-direction: column;
        form{
          margin: 0 auto;
          max-width: 500px;
          min-width: 500px;
          input,button,textarea{
            display: block;
            margin-bottom: 20px;
            padding: 15px 10px;
            width: 100%;
            font-family: "Work sans";
          }
          input[type='file']{
            padding: 0;
          }
          textarea{
            max-width: 500px;
          }
          button{
            cursor: pointer;
            background: rgb(23, 73, 23);
          }
        }
      }
      .posts {
        .sendpost{
          margin-bottom: 40px;
              input[type='file']{
                padding: 0px;
              }
              input,textarea,button{
                display: block;
                padding: 12px 10px;
                margin-bottom: 10px;
              }
              input,textarea{
                width: 100%;
              }
              button{
                cursor: pointer;
              }
        }
        .puser {
          margin-bottom: 50px;
          .pname {
            position: relative;
            display: flex;
            align-items: center;
            .pbtn {
              position: absolute;
              right: 50px;
              padding: 4px 8px;
              border-radius: 2px;
              background: #121212;
              a {
                color: #f1f1f1;
                font-weight: normal;
              }
              cursor: pointer;
            }
            > div {
              display: flex;
              align-items: center;
              flex-direction: row;
              margin-bottom: 20px;
            }
            img {
              min-width: 120px;
              max-width: 120px;
              border-radius: 50%;
              margin-right: 10px;
            }
            div a {
              font-weight: 500;
              font-size: 18px;
            }
          }

          a {
            color: #121212;
            font-size: 17px;
            text-decoration: none;
          }
          .pstatus {
            display: flex;
            justify-content: space-evenly;
            a {
              font-size: 20px;
            }
            div {
              text-align: center;
            }
          }
        }
        .post {
          min-width: 600px;
          max-width: 600px;
          margin-bottom: 50px;
          .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .more {
              margin-right: 5px;
              padding: 5px;
              cursor: pointer;
              background: #353535;
              width: 25px;
              height: 25px;
              color: #f1f1f1;
              border-radius: 10px;
              font-size: 15px;
              line-height: 14px;
              display: block;
              flex-direction: row;
              align-items: center;
              text-align: center;
              position: relative;
              .options {
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-90%);
                min-width: 200px;
                margin-top: 10px;
                padding: 10px;
                padding-bottom: 0px;
                border-radius: 5px;
                background: #333;
                color: #f1f1f1;
                display: none;
                .arrow {
                  width: 0;
                  height: 0;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-bottom: 20px solid #333;
                  position: absolute;
                  top: -10px;
                  right: 6%;
                  transform: translateX(6%);
                }
                ul {
                  li {
                    margin-bottom: 14px;
                    a {
                      padding: 5px;
                      color: #f1f1f1;
                      text-decoration: none;
                    }
                  }
                }
                .notiftime {
                  opacity: 0.8;
                  font-size: 12px;
                }
              }
            }
          }
          .article {
            margin-bottom: 10px;
            margin-right: 10px;
            p.ptext {
              display: block;
              margin-bottom: 15px;
              font-family: "Work sans";
            }
            img {
              max-width: 600px;
              min-width: 600px;
              border-radius: 5px;
            }
            video {
              max-width: 600px;
              min-width: 600px;
            }
          }
        }
        .buttons {
          margin-bottom: 5px;
        }
        .likes {
          margin-bottom: 5px;
          font-size: 14px;
          opacity: 0.8;
        }
        .comments {
          margin-bottom: 15px;
          .comment {
            font-size: 15px;
            .uname {
              font-weight: 500;
            }
          }
        }
        .pdate {
          margin-bottom: 5px;
          font-size: 14px;
          opacity: 0.8;
        }
      }
      $commvalue: 15px;
      .sendcomment {
        display: flex;
        flex-direction: row;
        position: relative;
        form{
          width: 100%;
          input[type="text"] {
            padding: $commvalue 10px;
            padding-right: 60px;
            width: 100%;
            background: transparent;
            border: 1px solid rgba($color: #000000, $alpha: 0.7);
            border-radius: 0px solid rgba($color: #000000, $alpha: 0.7);
            font-size: 16px;
          }
          button {
            position: absolute;
            right: 0px;
            cursor: pointer;
            padding: $commvalue 10px;
            background: rgb(40, 114, 50);
            color: rgb(219, 219, 219);
            font-weight: 500;
            height: 50px;
            font-size: $commvalue;
          }
        }
      }
    }
    .cright {
      margin-left: 10px;
    }
  }
  .prof {
    display: flex;
    justify-content: center;
    .cright {
      display: none;
    }
  }
}
// +++++++++++++++++++++++++++header+++++++++++++++++++++++++++

body.dark {
  background: #242424;
  color: #f1f1f1;
  .search {
    #search {
      background: #f1f1f1;
      color: #121212;
    }
    i {
      color: #121212;
    }
  }
}

///////////////////////////// .mode=control //////////////////////////////////
.mode-control {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;

  * {
    cursor: pointer;
  }
}
.mode-control input {
  position: absolute;
  opacity: 0;
}
.mode-control span:nth-of-type(2) {
  display: none;
}
.mode-control input:checked + span {
  display: none;
}
.mode-control input:checked + span + span {
  display: inline-block;
}

$spanvalue: 30px;
.mode-control span {
  height: $spanvalue;
  width: $spanvalue;
  line-height: $spanvalue;
  font-size: 15px;
  background: rgba(34, 34, 34, 0.86);
  color: #f1f1f1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 200ms all;
  -webkit-transition: 200ms all;
  -moz-transition: 200ms all;
  -ms-transition: 200ms all;
  -o-transition: 200ms all;
}
.mode-control span:hover {
  padding: 0px !important;
}
body.dark .mode-control span {
  background: rgba(241, 241, 241, 0.86);
  color: #222;
}


@media (max-width: 1050px) {
  .center{
    display: flex;
    justify-content: center;
  }
  .cright{
    display: none;
  }
}





///////////////////////////// extra //////////////////////////////////
.cont::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar {
  width: 10px !important;
}
.cont::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: transparent;
}
.cont::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: rgba($color: $black, $alpha: .7);
}

.displayno {
  display: none !important;
}
#gotopbtn {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  transition: 200ms all;
  -webkit-transition: 200ms all;
  -moz-transition: 200ms all;
  -ms-transition: 200ms all;
  -o-transition: 200ms all;
  background-color: rgba($color: $black, $alpha: 0.2);
  color: rgba($color: $black, $alpha: 0.8);
  box-shadow: 0px 0px 10px #000;
}

#gotopbtn:hover {
  background-color: transparent;
  box-shadow: 0px 0px 10px #000;
  color: $black;
}

#gotopbtn:active {
  bottom: 20px;
}

body.dark #gotopbtn {
  background-color: #fff;
  color: rgba($color: $black, $alpha: 0.8);
  box-shadow: 0px 0px 15px #fff;
}

body.dark #gotopbtn:hover {
  color: $black;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px #fff;
}

body.dark #gotopbtn:active {
  box-shadow: 0px 0px 10px #fff;
}

div:empty {
  display: none !important;
}
