$favwhite: #f0f0f0;
$white: #f1f1f1;
$black: #121212;
///////////////////////////// light //////////////////////////////////
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@400;800&family=Work+Sans:ital@0;1&display=swap");
@font-face {
  font-family: "georgia";
  src: url("../font/georgia.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box !important;
  list-style: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #f3f0e2;
  // background: #2f3852; //purple
  // background: #e0593d; //orange
  // background: #2d5d7c; //blue
  background: $favwhite; //white
  color: #222;
  transition: 500ms all;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
$svgspinsec: 14s;
.cont {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  margin: 0px;
  width: 100%;
  .headercont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: block;
      width: 100px;
      svg {
        animation: spin $svgspinsec infinite linear;
        position: fixed;
        top: 20px;
        left: 40px;
      }
      // $octagonpx: 2px;
      // .octagonWrap {
      //   width: 90px;
      //   height: 90px;
      //   float: left;
      //   position: relative;
      //   overflow: hidden;
      //   border: $octagonpx solid rgb(0, 0, 0);
      // }
      // .octagon {
      //   position: absolute;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   overflow: hidden;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   overflow: hidden;
      //   transform: rotate(45deg);
      //   background: transparent;
      //   border: $octagonpx solid rgb(0, 0, 0);
      // }
      // .octagon:before {
      //   position: absolute;
      //   /* There needs to be a negative value here to cancel
      //    * out the width of the border. It's currently -3px,
      //    * but if the border were 5px, then it'd be -5px.
      //    */
      //   top: -$octagonpx;
      //   right: -$octagonpx;
      //   bottom: -$octagonpx;
      //   left: -$octagonpx;
      //   transform: rotate(45deg);
      //   content: "";
      //   border: inherit;
      // }
      a {
        display: block;

        // font-size: 40px;
        // color: #121212;
        // text-decoration: none;
        // margin-left: 20px;
        // font-weight: 500;
        // font-family: "Raleway", sans-serif;
        // font-style: italic;
        // border-radius: 3px;
        // padding: 5px 7px;
        // transition: 200ms all;
      }
      img {
        margin-left: 10px;
        max-width: 120px;
        max-height: 120px;
        border-radius: 50%;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 15px 15px 0 0;
    > * {
      margin-right: 15px;
    }
    .profile img {
      max-width: 100px;
      max-height: 100px;
      border-radius: 50%;
    }
    .logout {
      display: block;
      font-size: 20px;
      color: #353535;
    }
    .notif {
      position: relative;
      padding: 5px;
      cursor: pointer;
      font-size: 18px;
      .ncount {
        position: absolute;
        right: -5px;
        top: -5px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 14px;
        background: red;
        color: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .notifications {
      position: absolute;
      top: -999px;
      right: 10px;
      transform: translateX(-50%);
      min-width: 400px;
      max-width: 500px;
      max-height: 600px;
      min-height: 100px;
      width: 100%;
      margin: 0;
      margin-top: 10px;
      padding: 10px;
      padding-bottom: 5px;
      padding-top: 0px;
      border-radius: 5px;
      background: #333;
      color: #f1f1f1;
      z-index: 99;
      display: none;
      align-items: center;
      justify-content: space-between;
      transition: 500ms all;
      opacity: 0;
      ul {
        width: 100%;
      }
      .notifloading {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
      }
      b {
        margin-right: 3px;
      }
      .arrow {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #333;
        position: absolute;
        top: calc(50% + 20px);
        right: 0;
        transform: translateX(-50%);
      }
      li {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        i {
          margin-left: 10px;
          font-size: 40px;
        }
      }
      a {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 5px;
        padding-left: 0px;
        color: #f1f1f1;
        text-decoration: none;
        font-size: 16px;
      }
      .ntime {
        padding: 5px 0 2px 5px;
        opacity: 0.8;
        font-size: 14px;
        margin-right: 3px;
      }
    }

    .active {
      display: flex;
      opacity: 1 !important;
      top: calc(50% + 20px) !important;
    }
  }
  .search {
    position: relative;
    #search {
      padding: 8px 12px;
      width: 300px;
      background: #3d3d3d;
      color: #f1f1f1;
      font-family: "Work Sans";
    }
    .searchbtn {
      padding: 5px;
      cursor: pointer;
      position: absolute !important;
      top: 0px;
      right: 7px;
    }
    i {
      color: #f1f1f1;
    }
  }
  .cright {
    background: #222;
    padding: 5px;
    max-width: 40px;
    min-width: 300px;
    max-width: 300px;
  }
  .center {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    flex-direction: row;
    .user {
      display: flex;
      align-items: center;
      flex-direction: row;
      img {
        min-width: 60px;
        max-width: 60px;
        border-radius: 50%;
        margin-right: 10px;
      }
      a {
        color: #121212;
        font-size: 17px;
        text-decoration: none;
      }
    }
    .verified {
      color: rgb(8, 190, 245);
    }
    .centercont {
      min-width: 600px;
      .sendpost {
        margin-top: 20px;
        margin-bottom: 40px;
        input[type="file"] {
          padding: 0px;
        }
        input,
        textarea,
        button {
          display: block;
          padding: 12px 10px;
          margin-bottom: 10px;
          border: 2px solid #eee;
        }
        input,
        textarea {
          width: 100%;
          background-color: transparent;
        }
        button {
          cursor: pointer;
        }
      }
      .editcont {
        display: flex;
        flex-direction: column;
        form {
          margin: 0 auto;
          max-width: 500px;
          min-width: 500px;
          input,
          button,
          textarea {
            display: block;
            margin-bottom: 20px;
            padding: 15px 10px;
            width: 100%;
            font-family: "Work sans";
          }
          input[type="file"] {
            padding: 0;
          }
          textarea {
            max-width: 500px;
          }
          button {
            cursor: pointer;
            background: rgb(23, 73, 23);
          }
        }
      }
      .puser {
        margin-bottom: 50px;
        .pname {
          position: relative;
          display: flex;
          align-items: center;
          .pbtn {
            position: absolute;
            right: 50px;
            padding: 4px 8px;
            border-radius: 2px;
            background: #121212;
            a {
              color: #f1f1f1;
              font-weight: normal;
            }
            cursor: pointer;
          }
          > div {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-bottom: 20px;
          }
          img {
            min-width: 120px;
            max-width: 120px;
            border-radius: 50%;
            margin-right: 10px;
          }
          div a {
            font-weight: 500;
            font-size: 18px;
          }
        }

        a {
          color: #121212;
          font-size: 17px;
          text-decoration: none;
        }
        .pstatus {
          display: flex;
          justify-content: space-evenly;
          a {
            font-size: 20px;
          }
          div {
            text-align: center;
          }
        }
      }
      .posts {
        margin-bottom: 20px;
        display: flex !important;
        flex-direction: column;
        justify-content: right;
        .post {
          min-width: 600px;
          max-width: 600px;
          margin-bottom: 50px;
          .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            position: relative;
            .more {
              position: absolute;
              top: 30px;
              right: 0px;
              margin-right: 5px;
              padding: 5px;
              cursor: pointer;
              background: #353535;
              width: 25px;
              height: 25px;
              color: #f1f1f1;
              border-radius: 50%;
              font-size: 15px;
              line-height: 14px;
              display: block;
              flex-direction: row;
              align-items: center;
              text-align: center;
            }
            $opt: rgb(184, 184, 184);
            .options {
              position: absolute;
              top: 60px;
              right: 0px;
              min-width: 200px;
              margin-top: 10px;
              padding: 10px;
              padding-bottom: 0px;
              border-radius: 5px;
              background: $opt;
              color: #f1f1f1;
              display: none;
              opacity: 0.94;
              z-index: 99;
              .arrow {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid $opt;
                position: absolute;
                top: -10px;
                right: 5%;
                transform: translateX(5%);
              }
              a {
                display: flex;
                align-items: center;
                flex-direction: row;
                text-align: right;
                padding: 5px;
                color: #121212;
                text-decoration: none;
                font-size: 17px;
                margin-bottom: 5px;
                img {
                  margin-right: 10px;
                  max-width: 20px;
                  max-height: 20px;
                }
              }
            }
            .ntime {
              opacity: 0.8;
              font-size: 12px;
            }
          }
          .article {
            margin-bottom: 10px;
            margin-right: 10px;
            p.ptext {
              display: block;
              margin-bottom: 15px;
              font-family: "Work sans";
            }
            img {
              max-width: 600px;
              width: 600px;
              border-radius: 5px;
            }
            video {
              max-width: 600px;
              width: 600px;
            }
          }
        }
        .buttons {
          margin-bottom: 5px;
          max-width: 80px;
          padding: 6px;
          background-color: rgba($color: #bbbbbb, $alpha: 1);
          &:nth-child(even) {
            background-color: rgba($color: #5a5a5a, $alpha: 1);
            color: rgba(34, 34, 34, 0.86);
            font-weight: 600;
            max-width: 80px;
            justify-content: center;
            margin-top: -12px;
            margin-left: -10px;
            border-radius: 10px;
            flex-direction: row;
          }
          border-radius: 30px;
          // box-shadow: 0 2px 6px 1px rgba(243, 243, 243, 0.15);
          box-shadow: 0 2px 6px 1px rgba(41, 41, 41, 0.15);
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          img {
            max-width: 17px;
            max-height: 17px;
            cursor: pointer;
            margin-right: 5px;
            transition: 100ms all;
          }
          .like {
            transform: rotateZ(-90deg);
            margin-bottom: 5px;
          }
          .liked {
            transform: rotateZ(90deg);
          }
          .dislike {
            transform: rotateZ(90deg);
          }
        }
        .comments {
          margin-bottom: 15px;
          .comment {
            font-size: 15px;
            .uname {
              font-weight: 500;
              margin-right: 5px;
              .verified {
                margin-left: 5px;
              }
            }
            .cmsg {
              margin-right: 5px;
            }
            .cdate {
              font-style: italic;
              font-size: 13px;
              opacity: 0.9;
            }
          }
        }
        .pdate {
          margin-bottom: 5px;
          font-size: 12px;
          opacity: 0.7;
        }
      }
      $commvalue: 15px;
      .sendcomment {
        display: flex;
        flex-direction: row;
        position: relative;
        form {
          width: 100%;
          input[type="text"] {
            border-radius: 4px;
            padding: $commvalue 10px;
            padding-right: 60px;
            width: 100%;
            background: transparent;
            border: 1px solid rgba($color: #000000, $alpha: 0.7);
            font-size: 16px;
          }
          button {
            border-radius: 4px;
            position: absolute;
            right: 0px;
            cursor: pointer;
            padding: $commvalue 10px;
            background: rgb(40, 114, 50);
            color: rgb(219, 219, 219);
            font-weight: 500;
            height: 50px;
            font-size: $commvalue;
          }
        }
      }
    }
    .cright {
      margin-left: 10px;
    }
  }
  .prof {
    display: flex;
    justify-content: center;
    .cright {
      display: none;
    }
  }
}
.addpost {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  cursor: pointer;
  transition: 100ms color;
  color: #56a760;
  &:hover {
    color: #6ac574;
  }
  i {
    font-size: 40px;
  }
}
.loading {
  display: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    display: block;
    max-width: 50px;
    max-height: 50px;
  }
}
#count {
  font-size: 14px;
  opacity: 0.9;
}
.msg {
  > * {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 300;
    padding: 5px 8px;
  }
}
.danger {
  background: rgb(190, 101, 101);
}
.success {
  background: #34be45;
}
.alts {
  margin-bottom: 10px;
  .alt {
    margin-right: 5px;
    transition: 200ms all;
    border-bottom: 0px solid #353535;
    cursor: pointer;
    &:hover {
      border-bottom: 2px solid #353535;
    }
  }
}
// +++++++++++++++++++++++++++header+++++++++++++++++++++++++++

body.dark {
  background: #242424;
  color: #f1f1f1;
  .search {
    #search {
      background: #f1f1f1;
      color: #121212;
    }
    i {
      color: #121212;
    }
  }
  .u {
    a {
      color: #f1f1f1 !important;
    }
  }
  .logout {
    i {
      color: #f1f1f1;
    }
  }
  .pstatus {
    a {
      color: #f1f1f1 !important;
    }
  }
  .logo {
    svg {
      fill: #f0f0f0;
    }
  }
}

///////////////////////////// .mode=control //////////////////////////////////
.mode-control {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;

  * {
    cursor: pointer;
  }
}
.mode-control input {
  position: absolute;
  opacity: 0;
}
.mode-control span:nth-of-type(2) {
  display: none;
}
.mode-control input:checked + span {
  display: none;
}
.mode-control input:checked + span + span {
  display: inline-block;
}

$spanvalue: 30px;
.mode-control span {
  height: $spanvalue;
  width: $spanvalue;
  line-height: $spanvalue;
  font-size: 15px;
  background: rgba(34, 34, 34, 0.86);
  color: #f1f1f1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 200ms all;
  -moz-transition: 200ms all;
  -ms-transition: 200ms all;
  -o-transition: 200ms all;
  transition: 200ms all;
}
.mode-control span:hover {
  padding: 0px !important;
}
body.dark .mode-control span {
  background: rgba(241, 241, 241, 0.86);
  color: #222;
}
// taslak
@media (max-width: 1050px) {
}
@media (max-width: 1050px) {
  .center {
    display: flex;
    justify-content: center;
  }
  .cright {
    display: none;
  }
}

@media (max-width: 850px) {
  .right {
    display: none;
  }
  .left {
    display: none;
  }
  .logo {
    display: none;
    svg {
      display: none;
    }
  }
  .headercont {
    .right {
      .profile {
        a {
          img {
            max-width: 50px;
          }
        }
      }
      .notifications {
        right: -100px;
      }
    }
  }
}

@media (max-width: 700px) {
  .centercont {
    min-width: 500px !important;
  }
  .post {
    min-width: 500px !important;
  }
}
@media (max-width: 600px) {
  .centercont {
    min-width: 400px !important;
  }
  .post {
    min-width: 400px !important;
  }
  .headercont {
    .right {
      .notifications {
        right: -165px;
      }
    }
  }
}
@media (max-width: 550px) {
  .search {
    width: 150px;
    #search {
      width: 150px !important;
    }
  }
}
@media (max-width: 500px) {
  .headercont {
    .right {
      .notifications {
        min-width: 350px;
      }
    }
  }
  .centercont {
    min-width: 300px !important;
  }
  .post {
    min-width: 300px !important;
  }
}

///////////////////////////// extra //////////////////////////////////
.cont::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar {
  width: 8px !important;
}
.cont::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: transparent;
}
.cont::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: rgba($color: $black, $alpha: 0.7);
}

.displayno {
  display: none !important;
}
#gotopbtn {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  -webkit-transition: 200ms all;
  -moz-transition: 200ms all;
  -ms-transition: 200ms all;
  -o-transition: 200ms all;
  transition: 200ms all;
  background-color: rgba($color: $black, $alpha: 0.2);
  color: rgba($color: $black, $alpha: 0.8);
  box-shadow: 0px 0px 10px #000;
}

#gotopbtn:hover {
  background-color: transparent;
  box-shadow: 0px 0px 10px #000;
  color: $black;
}

#gotopbtn:active {
  bottom: 20px;
}

body.dark #gotopbtn {
  background-color: #fff;
  color: rgba($color: $black, $alpha: 0.8);
  box-shadow: 0px 0px 15px #fff;
}

body.dark #gotopbtn:hover {
  color: $black;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px #fff;
}

body.dark #gotopbtn:active {
  box-shadow: 0px 0px 10px #fff;
}

// div:empty {
//   display: none;
// }
hr {
  border-top: 1px solid rgb(197, 197, 197);
  display: block;
  width: 100%;
  &:last-child {
    border-top: 1px solid rgb(197, 197, 197);
    display: none;
  }
}
.banner {
  margin: 20px 0 20px 0 ;
  a {
    display: block;
    img {
      display: block;
      max-width: 600px !important;
      width: 100%;
    }
  }
}
